#section-books {
    h1 {
        text-align: center;
    }

    .books {
        display: flex;

        .book {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .title {
                text-transform: capitalize;
            }

            img {
                width: 200px;
                height: 300px;
                object-fit: cover;
                background-color: #ccc;
            }

            .actions {
                display: flex;
                gap: 1rem;

                button {
                    padding: 3px 6px;
                    background-color: white;
                    cursor: pointer;
                }
            }

            .delete {
                border: 1px solid rgb(245, 191, 191);
                color: rgb(242, 100, 100);
            }
            .update {
                border: 1px solid rgb(204, 204, 243);
                color: rgb(139, 139, 234);
            }
        }
    }

    .add-new-btn {
        display: flex;
        margin-top: 5rem;
        margin: 7rem auto 0 auto;
        width: max-content;
        border: 1px solid;
        padding: 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: #000;
            color: #fff;
        }
    }
}
